@import "tailwindcss";
@plugin "daisyui";

.roboto-new {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  html[data-theme="dark"] .letter-primary {
    @apply text-gray-500;
  }
  html[data-theme="dark"] .back-primary {
    @apply bg-gray-900;
  }
  html[data-theme="dark"] .back-card {
    @apply bg-[#1D232A];
  }
  html[data-theme="dark"] .letter-sec {
    @apply text-[#6F6F6F];
  }
}

/* Default bullet color */
.swiper-pagination-bullet {
  background-color: #1F2937 !important; /* Tailwind's gray-300 */
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #006D77 !important; /* Your custom teal */
}